@use "@angular/material" as mat;
@include mat.core();

body {
  --primary-color: #0092cc;
}

$mat-primary: (
  main: #0036cc,
  lighter: #b3d8f0,
  darker: #000cb9,
  200: #5f00cc,
  contrast: (
    main: #ffffff,
    lighter: #000000,
    darker: #ffffff,
  ),
);
