@use "@angular/material" as mat;
@include mat.core();

body {
  --primary-color: #0070cc;
}

$mat-primary: (
  main: #2868c9,
  lighter: #b3d8f0,
  darker: #02096d,
  200: #43646e,
  contrast:
    (
      main: #ffffff,
      lighter: #000000,
      darker: #ffffff,
    ),
);

