@use "@angular/material" as mat;
@include mat.core();

body {
  --primary-color: #cc0000;
}

$mat-primary: (
  main: #cc0000,
  lighter: #f0b3b3,
  darker: #b90000,
  200: #cc0000,
  contrast: (
    main: #ffffff,
    lighter: #000000,
    darker: #ffffff,
  ),
);
